# Tout ignorer sauf le fichier .gitignore
*
!.gitignore

# Garder le plugin Package Control uniquement
!Installed Packages
Installed Packages/*
!Installed Packages/Package Control.sublime-package

# Garder les raccourcis clavier, les préférences et les builds
!Packages
Packages/*
!Packages/User
Packages/User/*
!Packages/User/*.sublime-keymap
!Packages/User/*.sublime-settings
!Packages/User/*.sublime-build